/*General use*/
$background-white: #F8F8F8;
$white: #FFFFFF;
$white-E: #EEEEEE;
$gray-A: #AAAAAA;
$gray-6: #666666;
$gray-5: #555555;
$black-2: #222222;
$black: #000000;

/*Index.js*/
$hero-background: #EFEFEF;
$button-index: #DDDDDD;
$link-index: #000000;
$discover-index: #EEEEEE;

/*Cart.js*/
$checkout-cart: #FFFFFF;
$background-cart: #F8F8F8;
$checkoutBg-cart: #333333;
$pGray-cart: #555555;
$shadow-cart: #888888;

/*Filter.js*/
$background-filter: #EEEEEE;
$close-filter: #333333;
$border-top-filter: #CCCCCC;
$arrow-filter: #333333;
$button-hover-filter: #DDDDDD;
$span-filter: #E8E8E8;
$input-filter: #CCCCCC;
$label-filter: #E8E8E8;



/*Breakpoints*/
$tablet: 768px;
$desktop: 1024px;