@import './variables';

.category{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img{
    width: 200px;
    height: 60vh;
    object-fit: cover;
  }

  .link{
    position: absolute;
    z-index: 1;
    color: $white;
    text-decoration: none;
    font-size: 1.5rem;
  }
}