.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 85vw;
  height: 100vh;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
  padding-top: 1.25rem;
  z-index: 110;
  transition: transform 250ms ease;

  img{
    width: 1rem;
  }

  ul, div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  ul li{
    position: relative;
    list-style: none;

    &::after{
      content: '';
      position: absolute;
      left: 90%;
      width: 8px;
      height: 8px;
      border-top: 2px solid #AAAAAA;
      border-right: 2px solid #AAAAAA;
      transform: rotate(45deg);
    }
  }

  .link{
    text-decoration: none;
    color: #222222;
  }

  .stores{
    text-decoration: none;
    color: #222222;
    &::after{
      content: '';
      position: absolute;
      left: 90%;
      width: 8px;
      height: 8px;
      border-top: 2px solid #AAAAAA;
      border-right: 2px solid #AAAAAA;
      transform: rotate(45deg);
    }
  }

  button{
    position: absolute;
    top: 95%;
    border: none;
    background-color: transparent;
    color: #222222;
    font-size: 1rem;
    cursor: pointer;
  }
}