.navbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #FFFFFF;

  span{
    font-size: 0.75rem;

    b{
      font-size: 1.25rem;
    }
  }

  div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}