.navbar{
  position: sticky;
  z-index: 100;
  top: 0;

  .main{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
  
    span{
      font-size: 0.75rem;
  
      b{
        font-size: 1.25rem;
      }
    }
  
    div{
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}