.save{
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  background-color: #EEEEEE;
  z-index: 110;
  overflow: scroll;
  display: none;

  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    min-height: auto;
  }
}