.save{
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  background-color: white;
  z-index: 110;
  overflow: scroll;
  transition: transform 250ms ease;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title{
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 12.5%;
    font-weight: 400;
    background-color: #EEEEEE;

    &::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 25%;
      width: 10px;
      height: 5px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      transform: rotate(-45deg) translateY(-50%);
    }
  }

  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    min-height: auto;
  }
}