.toolbar{
  padding: 1rem 0;
  background-color: white;
  position: sticky;
  top: 0;

  div{
    display: flex;
    justify-content: space-evenly;
  }

  .filter{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 0.5rem 3rem;
    background-color: transparent;
    cursor: pointer;

    span{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #DDDDDD;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .sort{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 0.7rem 4rem;
    background-color: transparent;
    cursor: pointer;
  }
}